html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container-fluid {
    background-color: lightpink;
    color: white;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
    background-color: lightpink;
}

.container {
    color: white;
    text-align: center;
}

.texto-principal {
    color: black;
}

.listaProfesionales {
    color: black;
}

.listaPacientes {
    color: black;
}

.table-pink {
    background-color: lightpink;
    color: white;
}

#carouselExample {
    max-width: 100%;
    height: auto;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 40px; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); 
}

.col {
    color: black;
}

