@{
    ViewData["Title"] = "Profesionales";
}

<div class="listaProfesionales">
    <h1 class="lista-profesionales">Listado de Pacientes</h1>

    <div class="alert alert-info">
        <p>Mira tu lista de profesionales con sus respectivas informaciones personales!</p>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="table-pink">
            <tr>
                <th>Nombre</th>
                <th>Profesion</th>
                <th>Contacto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Maria Antonia</td>
                <td>34</td>
                <td>1135718910</td>
            </tr>
            <tr>
                <td>María Gómez</td>
                <td>28</td>
                <td>1199223311</td>
            </tr>
        </tbody>
    </table>
</div>
